.kostur {
  width: auto;
  /* height: 00px; */
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
}

.slika img {
  width: 600px;
}

.btn {
  display: flex;
  flex-direction: row;
}

.btn1 {
  width: 120px;
  height: 30px;
  background-color: rgb(60, 60, 243);
  border: 1px solid rgb(60, 60, 243);
  color: white;
  text-transform: uppercase;
}

.btn2 {
  margin-left: 50px;
  width: 120px;
  height: 30px;
  background-color: rgb(173, 173, 244);
  border: 1px solid rgb(173, 173, 244);
  color: white;
  text-transform: uppercase;
}
